<h3>Settings</h3>

<div class="content">

<h5>{{#link-to 'sets'}}Edit your workouts{{/link-to}}</h5>

<p>Remove your individual workout sections to clear the app of
old data or restart the program fresh, or remove a mistake.</p>

<h5>{{#link-to 'milestones'}}Edit your progress{{/link-to}}</h5>

<p>Remove your progress through the program, your completion of each week or day</p>

</div>